ClientConsoleApp/Service References/MyServiceClientNamespace_Console/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MessageBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromClient" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageBackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageBackResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteCalc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteCalcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoteCalcResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>