ClientConsoleApp/Service References/MyServiceClientNamespace_Console/MyServiceDll.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="MyServiceDll" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyServiceDll_MessageBack_InputMessage">
    <wsdl:part name="parameters" element="tns:MessageBack" />
  </wsdl:message>
  <wsdl:message name="IMyServiceDll_MessageBack_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageBackResponse" />
  </wsdl:message>
  <wsdl:message name="IMyServiceDll_RemoteCalc_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoteCalc" />
  </wsdl:message>
  <wsdl:message name="IMyServiceDll_RemoteCalc_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoteCalcResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyServiceDll">
    <wsdl:operation name="MessageBack">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyServiceDll/MessageBack" message="tns:IMyServiceDll_MessageBack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyServiceDll/MessageBackResponse" message="tns:IMyServiceDll_MessageBack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoteCalc">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyServiceDll/RemoteCalc" message="tns:IMyServiceDll_RemoteCalc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyServiceDll/RemoteCalcResponse" message="tns:IMyServiceDll_RemoteCalc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyServiceDll" type="tns:IMyServiceDll">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MessageBack">
      <soap:operation soapAction="http://tempuri.org/IMyServiceDll/MessageBack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoteCalc">
      <soap:operation soapAction="http://tempuri.org/IMyServiceDll/RemoteCalc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyServiceDll">
    <wsdl:port name="BasicHttpBinding_IMyServiceDll" binding="tns:BasicHttpBinding_IMyServiceDll">
      <soap:address location="http://localhost:8000/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>